h1 {
    text-align: center;
    font-family:'Ubuntu', sans-serif;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-family:'Ubuntu', sans-serif;
    font-size: 1.5em;
}

.search {
    text-align: center;
    padding-top: 100px;
}

input {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

button {
    font-size: 1.8em;
    border: 2px solid #0081c6;
    border-radius: 0.3rem;
    background-color: #0081c6;
    color:white;
    cursor: pointer;
    height: 39px;
    width: 42px;
    }
